---
import '@fontsource-variable/bricolage-grotesque';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Echoes of Creation is a digital experience created by Niklas Lepistö and Jani Reijonen." />
		<meta name="viewport" content="width=device-width" />
		<link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚫</text></svg>"
    />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-neutral-100 overflow-hidden overflow-x-hidden w-[100vw]">
		<slot />
	</body>
</html>

<style>
	body {
		font-family: 'Bricolage Grotesque Variable', sans-serif;
		background: linear-gradient(to bottom, #334155, #d97706, #065f46, #1e1b4b, #020617, #000000);
	}
</style>